[2017-03-13 23:21] mattab opened #2 "Make our URL builder support tagging URLs with Source and Medium and Content tags"
Our URL builder https://piwik.org/docs/tracking-campaigns-url-builder/ should support tagging URL with
* Campaign source (optional) Used to track the source of the campaign such as "newsletter" for your email marketing, "affiliate", or the name of the website displaying your ads ->  `pk_source`
* Campaign medium (optional) Used to describe the marketing activity, for example "PPC" for a pay-per-cl

[2017-03-14 00:01] mattab opened #3 "Display all campaign channels tags in the Visitor Log and Visitor Profile"

[2017-03-15 21:19] sgiehl opened #5 "Add 'Segmented Visitor log' icon to campaign reports"
Goal of this issue is to display, in each of the campaign reports, the icon to let user open the Visitor Log segmented by the clicked dimension.

This is very powerful feature as it lets us view all users who used a particular campaign source, or campaign name, or campaign keyword, or campaign medium, etc.

[2017-03-16 16:45] #5 closed

[2017-03-16 22:11] makarovstas opened #7 "Error message in nginx log - "array_key_exists() in Base.php""
Hi Piwik Team!
I'm tested plug-in and found small bug in nginx error log:
2017/03/17 01:00:47 [error] 7122#7122: *18004 FastCGI sent in stderr: "PHP message: PHP Warning:  array_key_exists() expects parameter 2 to be array, boolean given in /plugins/MarketingCampaignsReporting/Columns/Base.php on line 101
PHP message: PHP Warning:  array_key_exists() expects parameter 2 to be array, boolean given

[2017-03-16 22:13] sgiehl commented on #7
Thanks or the report. Will fix that soon

[2017-03-16 22:15] #7 closed

[2017-03-16 22:23] sgiehl commented on #7
is fixed in new release 3.0.2

[2017-04-13 14:46] mimmovele opened #9 "Cannot display evolution chart for segmented data before plugin installation date"
Hi Piwik team,
we've installed the Marketing Campaigns Reporting plugin on Apr 5, 2017, v3.0.2. We can't see data before the installation date of the plugin, only data after. How can we generate reports for the past? Shouldn't the referral data (the UTMs) be in the piwik db anyway?
Please note that we've already executed the core:archive task for the past w/o success.

Any help would be greatly ap

[2017-04-13 19:16] sgiehl commented on #9
I'll investigate this. Guess we should be able to make it possible to view the campaign names and keywords for periods before the installation of this plugin

[2017-04-13 19:59] sgiehl commented on #9
Ok. This is a bit tricky to solve. The new campaign data ist stored in other database fields.
To get segmented data for old and new campaign you could adjust the segment you are using
instead of `campaignName==x` you could use `campaignName==x,referrerName==x`

Alternatively you could update the log_visit table, I could provide a simple update sql or maybe add a command to the plugin to make that

[2017-04-19 07:11] Chris6284 opened #10 "Compatibility warning for Piwik 3.0.3."
Hi Piwik team,

afte the update to Piwik 3.0.3 we got a message that this plugin is not ready for this Piwik-Version.
Any tips for this problem?

Greetings

[2017-04-19 07:30] sgiehl commented on #10
This is weird. The plugin is defined as compatible with any Piwik 3 version. Could you check the piwik requirement in the plugin.json of the plugin?

[2017-04-19 07:48] Chris6284 commented on #10
Thanks for the quick response.

It was my fault. I did not copy your plugin in the new folder by upgrading from Piwik 3.0.2 to 3.0.3.
The error-message from Piwik is missleading. Should be something like "Could not find the plugin xxx. Check if folder xxx exists."

[2017-04-19 07:50] sgiehl commented on #10
Ok. Thanks for the feedback. I'll have a look and try to improve the message in Piwik.
Cheers

[2017-04-19 07:50] #10 closed

[2017-04-21 13:57] Facens commented on #9
@sgiehl thanks for your help. What would that SQL query be?

[2017-04-21 18:27] sgiehl commented on #9
[code]
You may add your table prefex (eg `piwik_`) to the table name `log_visit`

[2017-04-24 10:15] sgiehl commented on #3
will work on this issue after piwik/piwik#11579 is finished and released

[2017-04-24 12:16] mimmovele commented on #9
@sgiehl we've applied the query:
[code]
but no data previous the plugin's installation have been shown.

We've also performed a core:archive action for a period previous to the plugin's installation date:
` sudo -u www-data ./console core:archive --force-idsites=1 --force-date-range=2017-03-20,2017-04-04 --url=https://xxxxx`

Thanks for your help.

[2017-04-24 12:51] sgiehl commented on #9
The initial question was about segmented data. Are you using preprocessed segment reports? Or are you referring to the normal reports now?

[2017-04-24 13:10] mimmovele commented on #9
@sgiehl we need both.

[2017-04-24 13:18] sgiehl commented on #9
Running the archiver only might not have been enough, as it skips already archived data. You may need to invalidate or remove the reports for that dates. See https://piwik.org/faq/how-to/faq_59/ or https://piwik.org/faq/how-to/faq_155/

[2017-04-24 15:17] mimmovele commented on #9
@sgiehl I'm afraid the above did not help.

We've invalidated:
`sudo -u www-data ./console core:invalidate-report-data --dates=2017-03-01,2017-04-04 --sites=1`

and then re-processed:
`sudo -u www-data ./console core:archive --force-idsites=1 --force-date-range=2017-03-20,2017-04-04 --url=https://xxxxx`

but nothing changed. Are we still missing something?

[2017-07-18 07:35] pwagner opened #12 "Ecommerce campaign name view is not using the selected time range"
In Ecommerce > Sales, there is a view labeled "campaign names".
There, the data does not seem to take the selected time range into account.
It looks like it is omitting all data that is older than the current month.

We are running the Piwik 3.0.4 and version 3.0.2 of this plugin.

[2017-07-18 17:56] andre-hh commented on #12
I've just checked that. The only report AOM is providing is the "Marketing Performance" report under "Referrers". We have not modified any existing reports, i.e. AOM should not have any effect on the report you mention.

Are you sure that this is an issue related to AOM? Perhaps it is a general Piwik issue?

For now, we do not plan to modify the existing Piwik reports, i.e. you will not be able to

[2017-07-24 05:06] mattab commented on #12
Are you using https://plugins.piwik.org/MarketingCampaignsReporting ?

Could you post a screenshot showing the problem somehow?

[2017-07-24 07:54] pwagner commented on #12
Yes, MarketingCampaignsReporting v3.0.2 is installed and active.

I made a gif to illustrate the problem:
![Campaign names time range issue](http://i.imgur.com/ckDtt14.gif)

It starts under Ecommerce > Sales with the default selection of Referrer Type. The time range is set to "year". The Campaigns-row shows 25 Ecommerce orders.
Next I clicked on Campaign Names. There, the sum of ecommerce orders

[2017-08-03 07:31] komtur opened #13 "Piwik 3.0.4 Problem after installation saying "Unknown column 'campaign_content' in 'field list'""
The apache error log is saying:
`[Thu Aug 03 09:15:48.424756 2017] [proxy_fcgi:error] [pid 35602:tid 139702267016960] [client xx.xx.xx.xx:57993] AH01071: Got error 'PHP message: Error in Piwik (tracker): Error query: fetch() failed: Unknown column 'campaign_content' in 'field list' : SELECT visit_last_action_time, visit_first_action_time, idvisitor, idvisit, user_id, visit_exit_idaction_url, visit

[2017-08-16 17:10] KZeni commented on #13
I was getting errors in the Piwik web interface with `MarketingCampaignsReporting.php(107): Notice - Undefined index: campaign_id` & plenty of other similar errors being reported.

[2017-09-05 16:53] #3 closed

[2017-09-14 07:09] pwagner commented on #12
Since September, the issue no longer exists for data from August. Apparently the data prior to August somehow got corrupted in our database. Unfortunately I cannot explain it, but it seems to be working fine from now on.

[2017-09-18 02:32] mattab commented on #13
Hi there, thanks for the report. This issue should not occur and we're not sure how this could happen. But in order to provide a workaround, could you try the following:
* Remove the two lines containing `MarketingCampaignsReporting` in your config.ini.php
* Delete the folder `plugins/MarketingCampaignsReporting`
* Then go to Piwik > Admin > Marketplace, and re-install the plugin
* You may need to

[2017-09-18 17:20] KZeni commented on #13
I uninstalled the plugin via the Plugin page, re-installed the plugin, activated it, and used the ./console core:update command instead of performing the database update via my browser. The DB update worked successfully and I clicked to finish the update and saw the plugin was activated successfully!

So, from what I can tell, it appears that uninstalling & re-installing addressed the partial inst

[2017-09-18 21:03] mattab commented on #13
Thanks for confirming. We sometimes have this issue when installing a plugin triggers a big database schema change which takes too long to run in the browser. Left a comment in our Upgrader issue here: https://github.com/piwik/piwik/issues/5985#issuecomment-330355443

[2017-09-18 21:03] #13 closed

[2017-09-18 23:43] komtur commented on #13
Thanx to @KZeni !

The `./console core:update` trick does it quite well, but my error in the apache error log remained.
The table columns where still missing. I have to mention, I run a bigger piwik installation (piwik_log_visit table is > 75 GB).

So what does the trick then?

Uninstalling the PlugIn via the Plugin page

Re-installed the PlugIn via the Plugin page & activate it

Run the `./consol

[2017-09-19 02:43] komtur commented on #13
Confirmed. Didn't see any error in the core console. Console said I was completing without any errors.

[2017-10-31 02:19] tsteur commented on #2
Done

[2017-10-31 02:19] #2 closed

[2018-02-06 16:21] danfig7 opened #18 "Campaings not tracking - There is no data for this report"
Hello,

I cannot track any campaings on Matomo.

I used the URL builder and placed the URL on a facebook post.

The URL was:
http://www.jornaldenegocios.pt/mercados/credito/detalhe/avaliacao-bancaria-das-casas-aumenta-45-em-2017?pk_campaign=Cruzados&pk_source=Facebook&pk_medium=Social&pk_content=CM

Any idea on why is this not working?

I tried on:
Piwik: 3.2.1
Matomo: 3.3.0

thank you!

[2018-02-06 20:13] tsteur commented on #18
I can confirm the campaign is not tracked, I wonder if this is related to the custom URL that is set.

[2018-02-07 09:26] danfig7 commented on #18
@tsteur I used the URL builder and I don't see what is wrong with the URL. Do you have any idea?

Thank you

[2018-02-07 09:51] sgiehl commented on #18
I guess what @tsteur meant is, that another url is set for being tracked. When I visit the URL you posted above, the following params are sent for tracking:
[code]

in order to have the campaign being tracked the campaign parameters must be set in the `url` param sent to Piwik. Guess you manually overwrite it somewhere in your tracking code.

[2018-02-07 18:00] tsteur commented on #18
At first I was wondering if the JS tracker should read the campaign parameters from the original URL  but I think this could lead to some side effects as well and might not always be the expected behaviour. Ideally we update docs to say that URL parameters for campaigns etc should be maybe forwarded to the custom URL / they should be set eg via `setCampaignNameKey`? Or we fall back and check if th

[2018-02-09 12:03] danfig7 commented on #18
Thank you for the help @tsteur and @sgiehl.
Yes we should move this issue to core.

[2018-06-05 13:48] pablitok opened #19 "Can't get campaign data"
Hello. By mistake I've disabled the plugin for a month, yesterday I've enabled it again but I'm not being able to get the campaign data.  I'm using Matomo **3.0.4** and I've tried plugin version **1.3.1** (AdvancedCampaignReporting) and **3.0.2** (MarketingCampaignsReporting)
To reprocess data I'm using the instructions on https://matomo.org/faq/how-to/faq_59/:
`./console core:invalidate-report-da

[2018-06-25 17:35] mattab commented on #19
The only way to have the campaign data is to replay the tracking logs: https://piwik.org/faq/log-analytics-tool/faq_19221/
after first deleting all the data that you will replay (to avoid double counting)

This should work

[2018-06-25 17:35] #19 closed

[2018-06-27 10:35] Paradinight opened #20 "custom names does not work correctly"
Hello,
custom names does not work correctly.

The first campaign visit will be tracked, but the second will be not. If i use the utm_ , it will works, but not the custom.

Example Url:
test.local/testpage.php?mbbalu_source=test_page&mbbalu_medium=banner&mbbalu_content=3719&mbbalu_campaign=test_campaign

test.local/testpage.php?mbbalu_source=test_page&mbbalu_medium=banner&mbbalu_content=3719&mbbalu

[2018-08-09 13:03] zhmeniapep opened #21 "MarketingCampaignsReporting plugin has been deactivated by itself/by the system"
Hi,

MarketingCampaignsReporting plugin has been occasionally deactivated by the system.
	- Could you please describe causes why it could happen?
	- Please give the cue how can we do plugin status checks in automated way, in other words how avoid it or how to be informed regarding this.

MarketingCampaignsReporting.getSource (http://prntscr.com/kgmer3) doesn't correspond to VisitsSummary.getUnique

[2019-06-07 03:54] mattab opened #23 "Move the dimensions to the "Acquisition" category rather than "Visitors" category"
Currently we have the dimensions under the Visitors category:

![Screenshot from 2019-06-07 15-53-39](https://user-images.githubusercontent.com/466765/59080366-70802480-893c-11e9-9be6-064cadf450bf.png)

We'd prefer to have them under the Acquisition category next to the other acqusition dimensions:

![Screenshot from 2019-06-07 15-54-05](https://user-images.githubusercontent.com/466765/59080373-7e

[2019-08-12 15:52] ryan-boder opened #25 "Additional modern campaign tracking parameters"
I'm in the process of transitioning from Google Analytics to Matomo. Tracking advertising campaigns is not as powerful in Matomo because the campaign tracking parameters (pk_*) are limited to equivalents of the old utm parameters that Urchin defined decades ago. These parameters are useful but they don't cover all the dimensions needed to track an advertising campaign today.

The big ad platforms

[2019-08-12 18:45] tsteur commented on #25
Cheers @ryan-boder

@sgiehl that could be something for Matomo 4?

[2019-08-13 18:59] sgiehl commented on #25
@tsteur we can also add this new columns to this plugin before Matomo 4. Maybe we can implement it in a way, where the user needs to activate the new columns if the plugin was already installed before, so no one is forced to do an update on the log tables.

But which columns shall we add?

@ryan-boder I'm not that deep into the autotagging feature. Which query params is Google (or other ad provide

[2019-08-13 20:42] tsteur commented on #25
It's not really a priority before Matomo 4 and it's better to wait until Matomo 4 with the big log table updates just to have ideally the updates at once. It's quite painful to update otherwise and maybe unexpected.

[2019-08-13 20:42] tsteur commented on #25
Also I don't think too many users would enable it manually using a command etc

[2019-08-13 21:19] ryan-boder commented on #25
@sgiehl I've only used Google, Facebook and Microsoft but here are the auto parameters that can be passed in a URL template.

- [Google](https://support.google.com/google-ads/answer/6305348) (scroll to Available ValueTrack parameters -> Final URL, tracking template or custom parameter or see [here](https://www.karooya.com/blog/list-of-all-valuetrack-parameters-in-google-adwords/) for a shorter but

[2019-08-20 13:42] ryan-boder opened #26 "Map campaign IDs to names before displaying"
URL templates in ad platforms offer the ability to pass IDs for campaign, ad group, ad, etc... to enable tracking & measurement. In some platforms ([Google](https://support.google.com/google-ads/answer/6305348)) you can only pass the ID. In others ([Facebook](https://www.facebook.com/business/help/1016122818401732) & [Microsoft](https://help.ads.microsoft.com/#apex/3/en/56799/0)) you can choose be

[2019-10-11 08:17] sesom42 opened #27 "The upper/lower case of parameter values are lost, not expected for "Campaign IDs" parameters like mtm_cid or utm_id"
We use pk_content to store the Google click ID. This variable is case sensitive. Unfortunately the plugin does not save the variable case sensitive and it becomes invalid.

[2019-10-14 02:50] tsteur commented on #27
I'm not sure what you mean by "it becomes invalid"?

[2019-10-14 07:16] sesom42 commented on #27
It will be invalid for Google. The variable is used to report offline results of campaigns back to Google. Google can't match the click if the variable isn't case-sensitive.

[2019-10-14 20:28] tsteur commented on #27
Sorry @sesom42 you will have to help me here a bit. I'm not so much into it and not fully understand. Which variable do you refer to? The `pk_content` URL parameter? How does Google expect the variable you refer to?

[2019-10-15 01:59] diosmosis commented on #27
@tsteur I might be wrong, but I think they mean the ID is something like `AdFghakfCZZ...`, but matomo stores/displays it as `adfghakfczz`, so if the user wants to get the ID to match it in Google, they can no longer do so (since the casing is lost).

[2019-10-15 02:35] tsteur commented on #27
I see. This might be done here: https://github.com/matomo-org/plugin-MarketingCampaignsReporting/blob/3.1.1/Campaign/CampaignDetector.php#L86

@sgiehl do you maybe remember why that is?

[2019-12-04 16:59] ryan-boder commented on #26
Just wanted to follow up... Is this something that would be considered?

[2020-03-05 21:05] mattab opened #36 "Call to a member function getColumn() on null"
[code]

URL: https://x/index.php?date=2020-02-15,2020-02-24&apiMethod=MarketingCampaignsReporting.getKeywordContentFromNameId&label=postcard-2020-deferrednews+%3E+%40qr-code-open&disableLink=1&module=CoreHome&action=getRowEvolutionPopover&colors=%7B%22backgroundColor%22%3A%22%23ffffff%22%2C%22lineColor%22%3A%22%23162c4a%22%2C%22minPointColor%22%3A%22%23ff7f7f%22%2C%22maxPointColor%22%3A%22%2375bf7

[2020-03-05 21:44] tsteur commented on #36
can you reproduce this in demo (on a regular site, not proxy)? Might be a proxysite issue?

[2020-03-06 11:35] diosmosis commented on #36
This is probably a ProxySite issue (guessing from the subtable ID mention), if it's important I can look into it.

[2020-04-09 04:54] mattab commented on #25
@tsteur maybe this is worth doing in matomo 4?

[2020-04-10 01:22] tsteur commented on #25
No preference @mattab I'm not so much into this topic and not sure how much work it would be

[2020-05-12 23:38] jpark313 opened #40 "Campaign ID not avail in API, not appearing in Archiver"
I am using the pk_cid parameter to capture campaign IDs.  However, these IDs are not present on the dashboard, and digging into Archiver.php, it does not appear w/ the listed constants, nor is there a public function in API to retrieve these values.

[2020-05-13 07:21] sgiehl commented on #40
Hi @jpark313. Thanks for creating the issue. Just checked the code. At the moment it seems only possible to use the campaignid for segmentation (e.g. `campaignId=myID`). But it would indeed make sense to also build reports for the campaign ids.

[2020-06-25 06:15] sgiehl commented on #23
The campaign dimensions meanwhile have their own category:

![image](https://user-images.githubusercontent.com/1579355/85665516-c5174e80-b6bb-11ea-8b73-e8308e02f824.png)

@mattab is that ok, or shall we move to `Acquisition`?

[2020-06-25 23:14] #20 closed

[2020-07-06 06:47] matustrtik opened #45 "Marketing Campaigns Reporting - can't track utm_parameters"
Hallo,
can you help us please. I can noct track utm_parameter and campaign KEYWORDS even the link is tagged. This is that case

tracker works correctly, all utm are in the link

but in matomo database is "null" value in all columb.

If you need more info, fill free and ask :)

[2020-07-06 20:40] tsteur commented on #45
@matustrtik I think this works for me?

![image](https://user-images.githubusercontent.com/273120/86639616-4a402300-c02d-11ea-87fd-0f2f5649910f.png)
![image](https://user-images.githubusercontent.com/273120/86639718-7b205800-c02d-11ea-8997-bee201ebfa74.png)

Are you using latest Matomo and latest version of this plugin? If you're using some kind of proxy make also sure that everything's working ni

[2020-07-08 08:41] matustrtik commented on #45
Hallo @tsteur, version is 3.13.5, and it is on-premise version of Matomo. MarketingCampaignsReporting v 3.1.1. (last version).
I going to check it again, maybe miracle :) ... I will let you know.

[2020-07-09 15:11] sgiehl commented on #23
ping @mattab @tsteur

[2020-07-09 21:48] tsteur commented on #23
@sgiehl I reckon it's fine. Is it maybe easy to move the campaigns category after "acuqisition"? Otherwise might be better to have it in `Acquisition` and then their name be `Campaign Medium` instead of just `Medium`

[2020-07-10 02:11] mattab commented on #23
Sounds good to me to also move the Campaigns one under Acquisiton as well as these :+1: and remove he Campaigns section.

[2020-07-21 12:59] sgiehl commented on #36
Just checked that locally, and that seems not to be a proxy site issue. Will have a closer look and provide a fix for it

[2020-07-22 08:58] #40 closed, assigned to sgiehl

[2020-07-24 12:12] #23 closed

[2020-08-17 09:35] #36 closed, assigned to sgiehl

[2020-09-05 22:55] danieljwonder opened #51 "WordPress suggests update to 4.0.1 which breaks current version of Matomo in WP Repo"
I presume this is a simple version incompatibility for Matomo version 3 vs 4? WordPress is suggesting that I update to version 4.0.1. Once updated the following errors are thrown:

[code]

[2020-09-07 00:41] tsteur commented on #51
Hi @danielmcclure

the Matomo for WordPress Marketplace plugin was falsely sending you an update of the plugin that is only compatible with the next major version of Matomo (Matomo 4 vs currently Matomo 3 is used).

To solve this problem there are two ways:

* Delete the plugin and install it again
* Or download the correct version from https://plugins.matomo.org/api/2.0/plugins/MarketingCampaigns

[2020-09-07 00:41] #51 closed, assigned to nobody

[2020-09-07 00:41] tsteur commented on #51
We have also released an update for `Matomo Marketplace for WordPress` plugin to prevent this issue in the future.

[2020-10-13 21:32] JE4GLE opened #53 "How to track using HTTP API"
Hello,

what are the parameter names for the [HTTP Tracking API](https://developer.matomo.org/api-reference/tracking-api)?
I want to send campaign info using the tracking API.

Thanks!

[2020-10-13 21:36] tsteur commented on #53
Hi @JE4GLE AFAIK there aren't any specific tracking parameters that you can use and you would instead have the campaign parameters in the URL that you are tracking see eg https://matomo.org/docs/tracking-campaigns/

[2020-10-13 21:36] #53 closed, assigned to nobody

[2020-10-13 21:38] JE4GLE commented on #53
So if I have just the campaign parameters, I have to create a URL and send it within the `url` parameter?

[2020-10-13 21:39] tsteur commented on #53
Exactly 👍

[2020-11-02 22:01] tsteur commented on #25
@mattab @sgiehl if we want to implement this, we need to implement it in the next 3 days (this week) as I understand this would trigger a big schema change.

[2020-11-03 09:39] sgiehl commented on #25
Implementing some dimensions for campaigns won't be that much work, but we actually only need a decision which dimensions we actually want to offer. Alternatively we could also maybe add 5 "nameless" dimensions (e.g. campaign_dimension_1 to _5) and make them configurable like the custom dimensions

[2020-11-03 19:36] tsteur commented on #25
Making them configurable sounds maybe like a lot of work when in that case also simply custom dimensions could be used.

Could we for now add two dimensions for

[code]

@ryan-boder `pk_etc for additional (maybe platform specific) data that is useful but isn't common enough across platforms to justify a standard parameter` not so sure about this one and it might cause a bit of confusion to the use

[2020-11-04 13:15] sgiehl commented on #25
I'll create a PR to add two new dimensions `Group` and `Placement` for now.

[2020-11-04 23:46] mattab opened #56 "Document the new dimensions campaign group and placement in all guides/faqs/pages"
follows up https://github.com/matomo-org/plugin-MarketingCampaignsReporting/pull/55

we would want to document the new parameters and dimensions in all guides that mention the other ones such as:

* top 5 results of https://matomo.org/?s=%22pk_medium%22&lang=en
* adding to URL builder: https://matomo.org/docs/tracking-campaigns-url-builder/ (need to mention this requires Matomo 4 in the descriptio

[2020-11-07 23:19] #25 closed

[2020-11-08 19:43] tsteur commented on #56
Updated the guide on the website itself. The https://matomo.org/docs/tracking-campaigns/ guide won't need to be updated as we're currently reworking it anyway and will get this integrated there in the new guide.

[2021-02-09 22:18] mattab opened #61 "Call to undefined method Piwik\\DataTable\\Map::getRowFromLabel() in /var/www/html/plugins/MarketingCampaignsReporting/API.php"
The following error was triggered 13 times in January across 6 different instances.

Here is the stack trace:

[code]

Request was;

`index.php?date=2021-01-31&apiMethod=MarketingCampaignsReporting.getKeywordContentFromNameId&label=pnpplusartikel+%3E+%403900806%252C%2520grafenau&disableLink=1&module=CoreHome&action=getRowEvolutionPopover&colors=%7B%22backgroundColor%22%3A%22%23ffffff%22%2C%22lineC

[2021-03-03 01:58] Starker3 opened #64 "Plugin not setting default UTM config parameters on new install on 4.x"
Plugin version: 4.0.4
Matomo versions: 4.2.1 & 4.1.1
[matomo_system_check(1).txt](https://github.com/matomo-org/plugin-MarketingCampaignsReporting/files/6073061/matomo_system_check.1.txt)

When installing the plugin in 4.x it seems that the default campaign parameters are not set correctly.

Tracking request sent directly after plugin installed:
![image](https://user-images.githubusercontent.com/2

[2021-03-03 08:24] sgiehl commented on #64
Guess that one might have occurred when updating php-di. Will have a quick look if it's easy to fix

[2021-03-03 09:06] sgiehl commented on #64
@Starker3  I've tried to reproduce that. Don't have a config set for the plugin, but the campaign parameters are detected correctly without any code change 🤔
Do you have any custom values set for `[Tracker] campaign_var_name` or other campaign related configs?

[2021-03-04 19:45] Starker3 commented on #64
@sgiehl I don't have any values in the config for `[Tracker] campaign_var_name` or any other campaign related configs.
What's interesting is it still works now after I remove the `[MarketingCampaignsReporting]` config that I manually set in the config.

I'll try to reproduce on a fresh install again and let you know if it occurs again or not.

[2021-03-23 15:02] #61 closed, assigned to sgiehl

[2021-07-05 09:41] kompa3 opened #68 "Campaign name does not exist in custom report dimension list"
Matomo version: 3.14.1.
MarketingCampaignsReporting version: v3.1.1.

Campaign Name and other properties should be selectable in Custom Reports dimension list, under Acquisition category (or previously Campaigns category, see https://github.com/matomo-org/plugin-MarketingCampaignsReporting/issues/23).

However, I have the plugin in use and there are campaigns but no such things can be selected in

[2021-07-05 10:01] sgiehl commented on #68
Hi @kompa3
Thanks for creating the issue. We highly recommend updating to Matomo 4.
I have just checked that, and in Matomo 4 using the latest versions of CustomReports and MarketingCampaignsReporting plugin the campaign dimensions are correctly available. So this seems to be fixed meanwhile.

[2021-07-05 10:01] #68 closed, assigned to nobody

[2021-08-03 21:27] tsteur commented on #64
@Starker3 did you end up still being able to reproduce this?

[2021-08-03 21:37] Starker3 commented on #64
@tsteur I haven't tried again to reproduce this on a fresh install yet.

[2021-08-03 22:47] tsteur commented on #64
👍  I'll close this for now as we couldn't reproduce it. If someone is able to reproduce please comment here with the steps to reproduce and we'll reopen the issue

[2021-08-03 22:47] #64 closed, assigned to nobody

[2021-08-16 10:05] criwe opened #71 "Wrong Links in documentation"
Hi,
the link to the "user guide " on https://plugins.matomo.org/MarketingCampaignsReporting#documentation points to https://piwik.org/docs/tracking-campaigns/ (404 error). I think https://matomo.org/docs/tracking-campaigns/ would be right.

Same for the "URL Builder" link.

Best,
Christoph

[2021-08-16 10:27] Findus23 commented on #71
Hi,

The piwik.org link properly redirects for me:
[code]
Nevertheless old piwik.org links could be replaced

[2021-08-16 11:34] #71 closed, assigned to nobody

[2021-10-14 15:25] utrautmann opened #80 "Marketing Campaign Reporting: Goal conversion is not shown in additional parameter statistics"
## Expected Behavior
* "Marketing Campaign Reporting" additional parameters should show the goal conversion in the statistics, even if the visitor does converted the goal with the second visit

## Current Behavior
* "Marketing Campaign Reporting" plugin additional parameters do not show the conversion of goals, when
  * visitor came to the website with campaign parameters on the first visit and

[2021-10-14 19:54] tsteur commented on #80
@utrautmann were you viewing data for "today" there? or was it for a previous period?

If it is today then such things can be expected as reports aren't all generated at the same time meaning by the time another report was generated, there might have been another visit.

[2022-02-17 21:42] atom-box opened #95 "Remove prefix from display of results"
In Matomo 3 the results were easier to read, and less cluttered.

A user writes:  _"The plugin that shows campaign details in the visitor log now displays "campaign" in front of each attribute ie campaign name, campaign medium, campaign keyword etc. This makes the page more cluttered and harder to read (in my opinion) than simply stating name, medium, keyword etc, as it used to before Matomo 4."_

[2022-02-22 15:23] webberian opened #96 "Allow better drilldown of data"
In the default view, the Campaign Name is hierarchical, with a subtable available for "Keyword - Content".
Since campaigns very often are run across different channels/sources, I feel that a more relevant subtable would instead be "Source - Medium" instead of "Keyword - Content". Could this perhaps be added as an option somewhere in order for the user to personalize?

Additionally - and I'm not su

[2022-02-22 19:23] tsteur commented on #96
@webberian this could be achieved with a [Custom Report](https://plugins.matomo.org/CustomReports) and is exactly what it was made for. However, it currently allows max 3 levels in a single report. Meaning you would need to remove one of the layers in your example.

[2022-05-19 07:23] tarasowski commented on #27
Hey guys, any news on that issue? The gclid are lowercased and invalid for Google Offline Conversions.

[2022-05-19 20:01] tsteur commented on #27
@sgiehl do you maybe know more here?

[2022-05-20 14:04] sgiehl commented on #27
Actually I don't think there is a good reason for doing so. I suggested a possible solution here: https://github.com/matomo-org/plugin-MarketingCampaignsReporting/pull/65#issuecomment-842226282
Aren't even segments selected case insensitive, so it should not even be a problem here if the same campaign name ist stored in different cases...

[2022-05-20 14:34] tarasowski commented on #27
@sgiehl / @tsteur guys, can you point me to a solution of how to export data for Google Offline Conversions.
I'm trying to store the gclids as mtm_cid but they are lowercased, so they cannot be imported into Google Ads.
Are there any other solutions you are aware of?

Danke im Voraus,
Dimi

[2022-05-20 14:41] chopsol commented on #27
I don't think there would be an alternative way except of patching the two files according to my pull request. I extended data collection with a parameter mtm_clid (not mtm_cid) for case-sensitive collection. I hoped, this PR would find a way into the core of MCR but for now, I'm patching up to 5 different matomo-instances every time an update of MCR is released.
I forget to mention the extension

[2022-05-20 14:59] tarasowski commented on #27
@chopsol thanks Joachim!

[2022-06-13 15:14] peterbo opened #102 "After enabling the plugin, wrong numbers are reported for overlapping timeframes (core campaign handling vs. plugin campaign handling)"
Reported here: https://github.com/matomo-org/matomo/issues/19318 and also experienced this myself, if the MarketingCAmpaignsReporting plugin was not active from the beginning (but activated later, while data was already in the system).

The report Acquisition -> Campaigns reports only numbers since the activation of the MarketingCampaignsreporting plugin for overlapping timeframes. For timeframes

[2022-06-13 16:04] sgiehl commented on #102
That's because the plugin is actually creating it's own dimension fields in the log tables. When it's installed later, that means for old records they are empty.
We could either try to copy over the values on install of the plugin (which could cause trouble for bigger installs) or merge the reports with the core reports, where no data is available for the plugin (which will at least make incorrect

[2022-06-14 12:28] solevis commented on #102
Hi @sgiehl, the `UPDATE` query mentioned in issue #9 still valid to update data for MarketingCampaignsReporting log tables?

[2022-06-14 12:56] sgiehl commented on #102
@solevis Yes it should.

[2022-06-14 14:57] peterbo commented on #102
Hey @sgiehl

I agree that this could be dangerous for bigger instances and could lead to more unwanted behaviour. Perhaps, this problem is just something to be documented well:

- Campaign reports will be "broken" for overlapping periods (core campaign handling vs MCR plugin)
- if the user wants to fix that, here are the mysql queries for copying over the past campaign data to the new structure an

[2022-07-04 07:58] solevis commented on #102
I executed the query and data seems correct now, thanks :+1:

[2022-09-19 04:22] SKDevGit opened #109 "500 Error"
MarketingCampaignsReporting plugin when activated is generating HTTP 500 error during tracking. If the plugin is disabled the error goes away. We are on Matomo 4.2.1. Please help.

[2022-09-19 07:55] AltamashShaikh commented on #109
@SKDevGit Can you see the error in `tmp/logs/matomo.log` ?
If yes can you share that here it will help us to know what is breaking exactly for you.

[2022-09-19 08:16] SKDevGit commented on #109
Thanks for your response. No, there are no errors recorded in the
matomo.log file.

On Mon, Sep 19, 2022 at 1:25 PM Altamash Shaikh ***@***.***>
wrote:

[2022-09-19 09:33] AltamashShaikh commented on #109
@SKDevGit Can you try enabling `debug_mode` ? Refer this [FAQ](https://matomo.org/faq/how-to/faq_20991/) on how to enable it and check if you can see anything in the `matomo.log` file

[2022-09-20 07:27] SKDevGit commented on #109
There are no errors even after enabling the debug mode.

[2022-09-20 07:48] AltamashShaikh commented on #109
@SKDevGit Does it log anything in your webserver's error.log
For example if you are using Apache as a webserver you can check apache's error log file

[2022-09-20 08:36] SKDevGit commented on #109
We use nginx. Logs are updated in matomo.log and access.log but there are no errors in matamo.log and nginx error.log files.

[2022-09-20 08:50] SKDevGit commented on #109
Please find attached the log file.
[matomo.log](https://github.com/matomo-org/plugin-MarketingCampaignsReporting/files/9605820/matomo.log)

[2022-09-20 12:35] AltamashShaikh commented on #109
@SKDevGit I cannot see any 500 error in the above log, looks okay

[2022-09-20 12:54] SKDevGit commented on #109
Yes, there is no 500 error in the log. The error is coming in the browser
if marketingcampaignsreporting plugin is activated.

On Tue, Sep 20, 2022 at 6:05 PM Altamash Shaikh ***@***.***>
wrote:

[2022-09-20 13:00] AltamashShaikh commented on #109
@SKDevGit please share the failing url from network tab

[2022-09-20 13:10] SKDevGit commented on #109
This is the url. If it works the first time, please try again. It will fail
from the second time onwards. The error will go away if the plugin is
disabled. Thanks

https://beacon.crigloo.com/matomo.php?action_name=Crigloo%20%3A%3A%20Home&idsite=127&rec=1&r=961979&h=18&m=36&s=21&url=https%3A%2F%2Fwww.crigloo.com%2F&_id=62871f1c7a4bb544&_idn=0&_refts=1663679172&_ref=https%3A%2F%2Fwww.google.com%2F&s

[2022-09-21 02:38] AltamashShaikh commented on #109
@SKDevGit for me it always results with status `204`, tried with both browser and cli
![Screenshot from 2022-09-21 08-07-49](https://user-images.githubusercontent.com/14902277/191401885-0a7d7bae-7d04-44a4-a39f-bc9462f6975b.png)

[2022-09-21 03:25] SKDevGit commented on #109
I had the plugin turned off to prevent the error. The plugin is activated
now. Please try again, the 500 error will appear.

Thanks,

On Wed, Sep 21, 2022 at 8:08 AM Altamash Shaikh ***@***.***>
wrote:

[2022-09-21 12:33] AltamashShaikh commented on #109
@SKDevGit I tried updating my local instance to Matomo 4.2.1 version and use the URL you provided in my local instance and it works as expected.
All requests are 204, I would request you to enable error_reporting and check for error message or its better you upgrade your Matomo instance to latest version.
Without any error log or stack trace it will be very difficult to find the cause of bug.

[2022-09-21 13:37] SKDevGit commented on #109
Thanks.

1) Is there any other way of enabling error reporting? I have set the log
level to ERROR but still no error shows up.
2) Yes, upgrading is an option but we cannot do it right away. Our db and
transaction volumes are high. When we tried upgrading in the test instance
the process did not complete successfully. So I am a bit hesitant about an
upgrade now.
Btw, we use docker-compose for launc

[2022-09-27 02:33] AltamashShaikh commented on #109
hey @SKDevGit Is it a Wordpress installation ?
If yes check this - https://stackoverflow.com/questions/55462067/docker-compose-file-not-showing-php-errors-from-wp-config-php
Or check if this is set `ini_set('error_log', '/dev/stdout');` and due to which nothing was being logged in the file

[2022-09-27 07:56] SKDevGit commented on #109
We got the error resolved by upgrading matomo. Perhaps it was due to an
incompatibility issue between Matomo and the plugin versions. I wish the
documentation were clear.

On Tue, Sep 27, 2022 at 8:03 AM Altamash Shaikh ***@***.***>
wrote:

[2022-09-27 09:12] #109 closed, assigned to nobody

[2022-10-05 22:15] mattmary opened #111 "No campaign data on WordPress with the latest plugin release"
# Campaign requests are empty
When requesting `%wordpress_url%?mtm_campaign=2022_grundrauschen_dresden&mtm_placement=google#/Verf%C3%BCgbarkeitspr%C3%BCfung`, If I enable the campaign plugin and create a segment with `campaign name = 2022_grundrauschen_dresden` and `campaign placement = google`, I don't have any result.

# Expected behaviour
See my visit in the visitor log after apply this segment

[2022-10-05 22:21] mattmary commented on #111
Sorry, made a mistake: Initially created this bug in a wrong repository https://github.com/matomo-org/plugin-Migration/issues/43

[2022-10-06 20:22] snake14 commented on #111
@AltamashShaikh Unless you have objections, I'm just adding this to the list of issues to be prioritised.

[2022-10-07 02:09] AltamashShaikh commented on #111
@mattmary I tried replicating the above issue
1. Created 1 visit with above mentioned campaign and placement
`http://localhost.demo.com/?mtm_campaign=2022_grundrauschen_dresden&mtm_placement=google#/Verf%C3%BCgbarkeitspr%C3%BCfung`
2. Checked Visits Log for today and I can see the above visit with campaign and placement
![Screenshot from 2022-10-07 07-37-17](https://user-images.githubusercontent.c

[2022-10-10 00:41] mattmary commented on #111
Hello @AltamashShaikh
When I've been able to reproduce this bug, I was in the WordPress plugin, not in Matomo: I had only the campaign parameter in the visitor log.

[2022-10-10 02:17] AltamashShaikh commented on #111
@mattmary Ill check if its specific to WP

[2022-10-11 07:01] SKDevGit commented on #109
I enabled the DEBUG mode. But there are no errors reported in the
matomo.log file. Thanks

On Mon, Sep 19, 2022 at 3:04 PM Altamash Shaikh ***@***.***>
wrote:

[2022-10-14 03:24] AltamashShaikh commented on #111
@mattmary This seems to work in Wordpress too for me
Request URL 'http://localhost.testwordpress.com/?mtm_campaign=2022_grundrauschen_dresden'
Data in Matomo
![Screenshot from 2022-10-14 08-53-38](https://user-images.githubusercontent.com/14902277/195755257-fcb51c83-044c-4b54-82ab-e2b3a01ef2c5.png)

[2022-10-17 02:17] mattmary commented on #111
Hello @AltamashShaikh

Sorry, but I can reproduce it: Here's what I get when I request https://wordpress.local/5.8/?mtm_campaign=2022_grundrauschen_dresden
![Screenshot from 2022-10-17 15-14-19](https://user-images.githubusercontent.com/86216084/196074908-11811844-21a1-49b2-ba1b-5ca6759b394a.png)

here's my system report:

`				  # Matomo

* Matomo Plugin Version: 4.12.0
* Config exists and is wri

[2022-10-27 14:48] incircolo opened #112 "Adding campaign name in the realtime table report"
Is it possibile to add the campaign name parameter in the right side of the realtime report?
Here i have some hints from other channels (such as direct, name of the search engine, url referrer website...) but it's blank when hits are coming from campaign with the MarketingCampaignsReporting plugin activated.

![Immagine 2022-10-27 164725](https://user-images.githubusercontent.com/25344007/19832173

[2022-11-03 18:46] eldk commented on #112
Hello,

https://github.com/matomo-org/matomo/issues/18312

Eric

[2022-11-08 16:35] kslstn opened #115 "Campaign names view only shows zeroes for ‘Goals metrics’"
In my setup, the goal metrics are zeroes in the table at Goals > Overview > Goals by Referrers: Campaign Names with the ‘Display a table with Goals metrics’ visualization. The same applies to these tables for each goal.

It's suspected to be a bug, because the zeroes are inconsistent with these workarounds:
1.  When I open the segmented visits log for a campaign that I know has conversions, I can

[2022-11-08 22:19] snake14 commented on #115
Hi @kslstn Thank you for taking the time to try the forum and create this issue. I think I was able to reproduce the issue, but I'm not positive. Anything you'd recommend @AltamashShaikh or should we mark this issue to be prioritised?

[2022-11-09 03:12] AltamashShaikh commented on #115
@kslstn We have added this for prioritisation so that our product team can check and schedule this issue.

[2022-11-22 14:15] sgiehl commented on #111
This might be related to *L3-362*